

.root {
    background-color: #FF3CE6;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-size: cover;
}
header
{
    max-width: 100%;
    background-color: #FF92F1;
    display: flex;
    justify-content: center;
    margin: 0;
    flex-direction: column;
    position: relative;
}

.head
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.kartinka
{
    width: 250px;
    height: 250px;
    display: block;
}
.headerer
{
    width: 100%;
}
.name-project {
    margin: 20px;
}
ol
{
    color:#ffffff;
}
label
{
    color:#ffffff;
}
header h1
{
    color: #ffffff;
    text-align: center;
    font-size: 30px;

}

li {
    margin:15px;
}

.forms
{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;

}
p{
    color:#ffffff
}
img
{
    width:250; height:250;
}
a
{
    color:#E6E6E6;
}

nav
{
    display: block;

    min-width: 100px;}

.navnav
{
    display: block;
    margin: 10px;
    text-align: center;
}
.navnavnav
{
    color: #ffffff;
    border: none;
    margin-right: 10px;
    text-decoration: none;
    transition: 0.3s ease;
    font-size: 20px;
}
.nav-menu
{
    margin: 0;
    padding: 0;
}

footer
{
    background-color:#FF92F1;
    margin: 0;
    max-width: 100%;
    position: relative;
    top: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;

}

#podval {
    color: transparent;
    background-color: transparent;
    border: none;
}

.logo
{
    width: 100px;
    height: 100px;
    margin: 10px;
}
.main-section1 {
    display: flex;
    flex-direction: column;
}
.first-table {
    order: -1;
}
.front-block {
    border: 1px solid rgba(255, 255, 255);
    border-radius: 15px;
    margin: 10px 0;
}
main
{
    background-color: #C939C9;
    max-width: 95%;
    margin: 0 auto;
    border-radius: 15px;
    bottom: 40px;
}
main
{
    padding: 15px;
    margin: 10px;
    margin-top: 40px;
}

input, select, textarea
{
    color: #ffffff;
    background-color: #FF92F1;
}

textarea:focus, input:focus
{
    color:white; background-color: #FF75ED;
}
table
{
    color:#ffffff;

}
strong
{
    color: white;
}
.chet-item
{
    background-color: #FF92F1

}
table
{
    border: 1px solid black;
    table-layout: fixed;
    border-collapse: collapse;
    margin: 50px auto;
    width: 95%;
}
caption
{
    border: 2px double black;
}

th {
    border: 1px solid black;
}

td {
    border: 1px solid black;
}
.front-block {
    border-radius: 30px;
}
@media all and (min-width: 900px)
{

    header {
        flex-direction: row;
        justify-content: center;
    }



    .headerer {
        width: 960px;
        display: flex;
        justify-content: space-between;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0;
    }

    main {
        max-width: 960px;
        margin: 0 auto;
        margin-top: 40px;
    }


    .navnav {
        display: inline-block;
        margin: 10px;
    }

    .first-table {
        order: 1;
    }

    .kartinka
    {
        width: 550px;
        height: 550px;
    }

    .head {
        justify-content: left;
        width: 30%;
    }





    table {
        width: 60%;
    }
}






